html {
    height: 100dvh;
    width: 100dvw;
}

:root {
  --textcolor: #e7e7e7;
  --linkcolor: #3216d1;
  user-select: none;
}

body {
    margin: 0;
    background: linear-gradient(145deg, hsl(353 82% 9% / 1) 0%, hsl(230 85% 5% / 1) 60%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

* { 
    color: var(--textcolor);
}

.refLink {
    color: var(--linkcolor);
    margin: 0.6em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%; 
    padding: .3rem;
    background-color: rgba(54, 54, 54, 0.041);
}