header {
    max-width: 100%;
    max-height: 2rem;
    background-color: #0c0c0ca6;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 0.75px rgb(251 251 251 / 23%) solid;
}

#HeaderText {
    margin: 0;
    margin-left: 1rem;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.listContainer {
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

.articleHub {
    column-count: 2;
    column-gap: 1rem;
    width: 100%;
    max-width: 100%;
}

.articleHub, main {
    height: -webkit-fill-available;
}

.articleHub .listContainer {
  display: inline-block;
  margin-bottom: 1rem; 
}

.itemClickable {
    border-radius: 5px;
    border: rgb(251 251 251 / 23%) 0.25px solid;
}

#IconHeader, #IconHeaderImg{
    width: 32px;
    height: 32px;
}

.itemClickable:hover {
    cursor: pointer;
    transition: box-shadow 0.2s;
    box-shadow: 2px 2px 12px 0px black;
}

.itemClickable:active {
    filter: brightness(0.8);
}

.textHeader {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}